<!-- blog-post.tmpl -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <article>
      <div class="blog-header">
        <h1 class="blog-title">{{.Title}}</h1>
	    <img src={{.ImageURL}} class="blog-header-image">
        <div class="blog-meta">
          <span class="date">{{.Date}}</span>
        </div>
      </div>
      <div class="blog-content">{{.Content}}</div>
    </article>
</body>
</html>
